extends layout

block content
  
  h1(id="header", style="padding-top: 50px; padding-bottom: 50px;") Babe Inventory 

  button.scan(href="/scan") 
   a(href="/scan") SCAN

  h1(style="padding-top:20px; padding-bottom: 20px") OR

  button.searchInv(href="/search") 
   a(href="/search") Search &#128269;