extends layout

block content
  
  h1(id="header", style="padding-top: 75px;") Scan Inventory

  h5.mess( style="color:red; padding-top: 50px; padding-top: 30px; text-align:center;") You have successfully updated inventory!

  div(style="background:#D0D0D0; width:90%; margin:40px auto; padding-top:50px; padding-bottom:50px; border-radius: 8px;")
   form(role='form', method="Post", action="/locateThree", name="ProductQuantity")
    table.table-striped.table-bordered.table-responsive(width="80%", align="center", style="font-size:18px;border-collapse:collapse" )
     tr
      td
       input.form-control(type="text", id="loc", placeholder="LOCATION", name="bin11", size="10", style="font-size: 13px;padding:0px; margin:0px;", required)
      td
       input.form-control(type="text", id="upc", placeholder="UPC #1",  name="productupc11", size="10", style="font-size: 13px;padding:0px; margin:0px;", required)
      td
       input.form-control.quan(type="text", placeholder="QUANTITY #1",  name="qty11", id="foo", size="10", style="font-size: 13px;padding:0px; margin:0px;", required)
     tr
      td
      td
       input.form-control(type="text", id="loc2", placeholder="UPC #2",  name="productupc22", size="8", style="font-size: 13px;padding:0px; margin:0px;")
      td
       input.form-control.quan(type="text", id="upc2", placeholder="QUANTITY #2", name="qty22", size="8", style="font-size: 13px;padding:0px; margin:0px;")
     tr
      td(style="background:#D0D0D0;")
      td
       input.form-control(type="text", id="loc3", placeholder="UPC #3",  name="productupc33", size="8", style="font-size: 13px;padding:0px; margin:0px;")
      td
       input.form-control.quan(type="text", id="upc3", placeholder="QUANTITY #3",  name="qty33", size="8", style="font-size: 13px;padding:0px; margin:0px;")
    button.btn.invSub(type="submit", style="font-size:25px;") Submit


    //- Test Form

  div.inputFields(style="background:#D0D0D0; width:90%; margin:40px auto; padding-top:50px; padding-bottom:50px; border-radius: 8px;")
   form(role='form', method="Post", action="/locateThree", name="ProductQuantity")
    table.table-striped.table-bordered.table-responsive#myTable(width="80%", align="center", style="font-size:18px;border-collapse:collapse" )
     tr
      td
       input.form-control(type="text", id="loc", placeholder="LOCATION", name="bin11", size="10", style="font-size: 13px;padding:0px; margin:0px; text-align:center; height:50px;", required)
      td
       input.form-control(type="text", id="upc", placeholder="UPC #1",  name="upcArray[]", size="10", style="font-size: 13px;padding:0px; margin:0px; text-align:center; height:50px;", required)
      td
       input.form-control.quan(type="text", placeholder="QUANTITY #1",  name="quantityArray[]", id="foo", size="10", style="font-size: 13px;padding:0px; margin:0px; text-align:center; height:50px;", required)
     tr
      td
       button(onclick="myCreateFunction()") +
       button(onclick="myDeleteFunction()") -
      td
       input.form-control(type="text", id="loc2", placeholder="UPC #2",  name="upcArray[]", size="8", style="font-size: 13px;padding:0px; margin:0px;")
      td
       input.form-control.quan(type="text", id="upc2", placeholder="QUANTITY #2", name="quantityArray[]", size="8", style="font-size: 13px;padding:0px; margin:0px;")
     tr
      td(style="background:#D0D0D0;")
      td
       input.form-control(type="text", id="loc3", placeholder="UPC #3",  name="upcArray[]", size="8", style="font-size: 13px;padding:0px; margin:0px;")
      td
       input.form-control.quan(type="text", id="upc3", placeholder="QUANTITY #3",  name="quantityArray[]", size="8", style="font-size: 13px;padding:0px; margin:0px;")
    button.btn.invSub(type="submit", style="font-size:25px;") Submit
 

     

  script.
    $(document).ready(function() {
    	$('input[name=bin11]').focus();

      //- add input fields button
      

    //-   var max_fields      = 8; //maximum input boxes allowed
    //-   var wrapper         = $(".inputFields"); //Fields wrapper
    //-   var add_button      = $(".addFields"); //Add button ID
    
    //- var x = 1; //initlal text box count
    //- $(add_button).click(function(e){ //on add input button click
    //-     e.preventDefault();
    //-     if(x < max_fields){ //max input box allowed
    //-         x++; //text box increment
    //-         $(wrapper).append('<div><input type="text" name="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
    //-     }
    //- });
    
    //- $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
    //-     e.preventDefault(); $(this).parent('div').remove(); x--;
    //- })


    
      //- success message

       $('.mess').hide();

       $('.invSub').bind('click', function(){
           window.scrollTo(0,0);
           $('.mess').show(200).delay(4000).hide(200);
       }); 


          //- Press enter on quantities to submit to inventory
        $('.quan').keypress(function (e){
       	 if(e.which == 13){
         $('.invSub').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
       	})
       	
          //- Press enter to search attributes
       $('.type').keypress(function (e){
       	 if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
       	})
       $('.length').keypress(function (e){
       	 if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
       	})
       $('.color').keypress(function (e){
       	 if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
       	})
       $('.location').keypress(function (e){
       	 if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
       	})
       $('.quantity').keypress(function (e){
       	 if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
       	})
       $('.upc').keypress(function (e){
       	 if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
       	})
       $('.poNum').keypress(function (e){
       	 if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
       	})

       $('#upcCode').on('keydown', function(e){
       		$('quan').focus();
       		e.preventDefault();


       	})


    });

    //-     function addRow(tableID) {
    //- //debugger;
    //-  var tableID="tableCreate";
    //-  var table = document.getElementById(tableID);
    //-  var rowCount = table.rows.length;

    //- if(rowCount<7){
   
    //-     var row = table.insertRow(rowCount);
    //-     var cell1 = row.insertCell(0);        
    //-     var cell2 = row.insertCell(1);
    //-     var cell3 = row.insertCell(2);
    //-     var element2 = document.createElement('input');
    //-     element2.type="text";
    //-     cell2.appendChild(element2);

    //-        }
    //-    }

    //-   function removeRow(){
    //-       var tableID="tableCreate";
    //-       var table = document.getElementById(tableID);
    //-       var rowCount = table.rows.length;

    //-       if(rowCount>1){            
    //-           table.deleteRow(-1);
    //-       }
    //-   }
      function myCreateFunction() {
      var table = document.getElementById("myTable");
      var row = table.insertRow(1);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      cell1.style.backgroundColor = '#D0D0D0'
      cell2.innerHTML = '<input class="form-control quan" type="text" placeholder="UPC" size="10" name="upcArray[]" style="font-size: 13px;padding:0px; margin:0px; text-align:center; height:50px;" />';
      cell3.innerHTML = '<input class="form-control quan" type="text" placeholder="QUANTITY" size="10" name="quantityArray[]" style="font-size: 13px;padding:0px; margin:0px; text-align:center; height:50px;" />';
      }

      function myDeleteFunction() {
          document.getElementById("myTable").deleteRow(1);
      }

              //use some of this function
      function addRow(tableID) {
          //debugger;
           var tableID="tableCreate";
           var table = document.getElementById(tableID);
           var rowCount = table.rows.length;

          if(rowCount<7){
         
              var row = table.insertRow(rowCount);
              var cell1 = row.insertCell(0);
              var element1 = document.createElement('td');
              element1.type="text";
              cell1.appendChild(element1);
              row.insertCell(1);
              row.insertCell(2);
                 }
             }

            function removeRow(){
                var tableID="tableCreate";
                var table = document.getElementById(tableID);
                var rowCount = table.rows.length;

                if(rowCount>1){            
                    table.deleteRow(-1);
                }
            }

