extends layout

block content
  h1= title
  p Welcome to #{title}




  form(method="Post", action="/query", name="barcodeQuery" id="searchForm")
   h2 Find Location of a Product
   input(type="text", id="barcodeSearch", placeholder="BARCODE", size="40", name="barcode" )
   button(type="submit") Submit Barcode

  form(method="Post", action="/add", name="ProductQuantity")
   h2 Scan Price and Input Quantity
   input(type="text", placeholder="BARCODEUPC", size="40", name="barcodeupc" )
   input(type="text", placeholder="QTY", size="40", name="quantity" )
   button(type="submit") Submit Quantity for Product





  h1 Current Inventory
   ul
    each product, i in products
     li 
       h1 #{product.quantity}

  script.
    $(document).ready(function() {
    $("#barcodeSearch").keyup(function() {
        if ($(this).val().length === 7) {
            $("#searchForm").submit();
            }
        });
    });

