extends layout

block content
	h1 Location Search

    .submit-content
		form.proposal-form.br(method="Post", action="/queryLoc", name="LocationQuery" id="locationForm")
			h2.sub  SEARCH LOCATION
			input(type="text", id="barcodeSearchLoc", placeholder="LOCATION", size="40", name="locations" )
			button.btn(type="submit") Submit Location
	ul
	 each product, i in products
		li 
			h1 #{product.quantity}


	script.
		$(document).ready(function() {
			$('input[name=locations]').focus();
			$("#barcodeSearchLoc").keyup(function() {
				if ($(this).val().length === 6) {
					$("#locationForm").submit();
				}
			});
		});