extends layout

block content
  
  h1(id="header") Add Location to Inventory

  .submit-content
   form.proposal-form.br(method="Post", action="/location", name="locationAdd")
    h2.sub Add Location
    h4 Scan Location and start adding products
    input(type="text", placeholder="Location", size="40", name="location" )
    input(type="text", placeholder="UPC", size="40", name="barcode" )
    input.quan(type="text", placeholder="Quantity", size="40", name="quantity" )
    button.btn.invSub(type="submit", id="locationSearch") Submit location

  script.
   $(document).ready(function() {
   	$('input[name=location]').focus();
   	
    $('.quan').keypress(function (e){
         if(e.which == 13){
         $('.invSub').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
   	});